# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# ALWAYS force unix line endings.
*.md text eol=lf
*.apib text eol=lf
*.json text eol=lf
*.js text eol=lf
*.sh text eol=lf
*.gitignore text eol=lf
*.gitattributes text eol=lf
Procfile text eol=lf
*.jake text eol=lf
*.html text eol=lf
*.txt text eol=lf
*.css text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.eot binary
*.svt binary
*.ttf binary
*.woff binary
*.ico binary