/*

    Name:       TopCoder
    Author:     tc.member

    CodeMirror template by topcoder
    Original 3024 day scheme by Jan T. Sott (https://github.com/idleberg/base16-codemirror)

*/

.cm-s-topcoder.CodeMirror {background: #f5f8fa; color: #3a3432;}
.cm-s-topcoder div.CodeMirror-selected {background: #d6d5d4 !important;}
.cm-s-topcoder .CodeMirror-gutters {background: #eef2f5; border-right: 0px;}
.cm-s-topcoder .CodeMirror-linenumber {color: #807d7c;}
.cm-s-topcoder .CodeMirror-cursor {border-left: 1px solid #5c5855 !important;}

.cm-s-topcoder span.cm-comment {color: #999988;}
.cm-s-topcoder span.cm-atom {color: #a16a94;}
.cm-s-topcoder span.cm-number {color: #a16a94;}

.cm-s-topcoder span.cm-property, .cm-s-topcoder span.cm-attribute {color: #316f99;}
.cm-s-topcoder span.cm-keyword {color: #db2d20;}
.cm-s-topcoder span.cm-string {color: #178b05;}

.cm-s-topcoder span.cm-variable {color: #316f99;}
.cm-s-topcoder span.cm-variable-2 {color: #01a0e4;}
.cm-s-topcoder span.cm-def {color: #e8bbd0;}
.cm-s-topcoder span.cm-error {background: #db2d20; color: #5c5855;}
.cm-s-topcoder span.cm-bracket {color: #3a3432;}
.cm-s-topcoder span.cm-tag {color: #db2d20;}
.cm-s-topcoder span.cm-link {color: #a16a94;}

.cm-s-topcoder .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
