	<div class="anon-header" data-ng-hide="loggedIn()">
        <div class="navbar navbar-top" role="navigation">
            <div class="container-fluid">
              <h1 class="navbar-title">
                <a class="navbar-brand" href="https://www.topcoder.com">Topcoder</a><span class="navbar-title-text">arena</span>
              </h1>
           </div>
        </div>
    </div>
    <div class="header" data-ng-show="loggedIn()">	    
        <div class="navbar navbar-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a data-ng-init="navCollapsed = true" data-ng-click="navCollapsed = !navCollapsed" class="btn btn-navbar navbar-toggle">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <h1 class="navbar-title"> <a class="navbar-brand" href="https://www.topcoder.com">Topcoder</a><span class="navbar-title-text">arena</span></h1>
                </div>

                <div data-collapse="navCollapsed" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navIcons">
                        <li data-ng-class="{ active: $state.includes('user.dashboard') }">
                          <a data-ui-sref="user.dashboard" class="icon iconLobby">LOBBY</a><a data-ui-sref="user.dashboard" class="visible-lg visible-md tip" data-tooltip-popup-delay='100' data-tooltip-placement="bottom" data-tooltip="Lobby"></a>
                        </li>
                        <li data-ng-class="{ active: $state.includes('user.contests') || $state.includes('user.contest') || $state.includes('user.coding') || $state.includes('user.contestSummary')}">
                          <a class="icon iconContests">CONTESTS</a><a class="visible-lg visible-md tip" data-tooltip-popup-delay='100' data-tooltip-placement="bottom" data-tooltip="Contests"></a>
                        </li>
                        <li data-ng-class="">
                          <a class="icon iconVC">VIRTUAL CONTEST</a><a class="visible-lg visible-md tip" data-tooltip-popup-delay='100' data-tooltip-placement="bottom" data-tooltip="Virtual contest"></a>
                        </li>
                        <li data-ng-class="">
                          <a class="icon iconSettings">SETTINGS</a><a class="visible-lg visible-md tip" data-tooltip-popup-delay='100' data-tooltip-placement="bottom" data-tooltip="Settings"></a>
                        </li>
                        <li data-ng-class="">
                          <a class="icon iconTools">TOOLS</a><a class="visible-lg visible-md tip" data-tooltip-popup-delay='100' data-tooltip-placement="bottom" data-tooltip="Tools"></a>
                        </li>
                        <li data-ng-class="">
                          <a class="icon iconHelp">HELP</a><a class="visible-lg visible-md tip" data-tooltip-popup-delay='100' data-tooltip-placement="bottom" data-tooltip="Help"></a>
                        </li>
                        <li data-ng-class="">
                          <a class="icon iconPT">PROBLEM TRACKER</a><a class="visible-lg visible-md tip" data-tooltip-popup-delay='100' data-tooltip-placement="bottom" data-tooltip="Problem tracker"></a>
                        </li>
                        <li class="themeSwitcher" data-ng-class="">
                          <a id="iconTS" class="icon iconTS" data-ng-click="openThemeSelector($event)">THEME SWITCHER</a><a class="visible-lg visible-md tip" data-tooltip-popup-delay='100' data-tooltip-placement="bottom" data-tooltip="Theme switcher" data-ng-click="openThemeSelector($event)"></a>
                          <div class="themePanel" data-ng-show="themePanelOpen" id="themePanel">
                            <h4>Themes&nbsp;({{themesInfo.themes.length}})</h4>
                            <a class="closeBtn" data-ng-click="cancelTheme()">x</a>
                            <div class="themesBox">
                              <p data-ng-repeat="theme in themesInfo.themes track by $index" class="themeItem">
                                <input type="radio" data-ng-model="$parent.themeInUse" value="{{theme.key}}" name="themes" id="theme-{{$index}}" class="themeRadio"><label for="theme-{{$index}}" class="themeLbl">{{theme.label}}</label>
                              </p>
                            </div><!--/.themesBox-->
                            <a class="btn" data-ng-click="applyTheme()">APPLY</a>
                          </div>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right userInfo">
                        <li>Welcome&nbsp;<a class="username">{{ username() }}</a></li> <!-- data-ui-sref="user.profile.details" -->
                        <li><a class="notification" data-message-arena="" id="qtipNoti" data-ng-click="onClickMessageArena()"><span id="notiIndicator" data-ng-show="notificationService.getUnRead() > 0">{{ notificationService.getUnRead() }}</span></a></li>
                        <li><a data-ui-sref="user.logout" class="arrow"></a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!-- /.container-fluid -->
        </div>
    </div>
    <div data-ui-view></div>
    <footer data-ng-show="loggedIn()">
        <div class="line"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="left hidden-xs hidden-sm col-md-4 col-lg-4">
                    <span>OWR SPONSOR</span>
                </div>
                <div class="right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <span class="sponsorLogo">Logo</span>
                    <span>VENI VIDI VICI!</span>
                    WE ARE HIRING!
                </div>
            </div>
        </div>
    </footer>
