<!-- past notifications goes here -->
<div class="panelHeader">
    <h3>Notification ({{notificationService.pastNotifications.length}})</h3>
    <a data-ng-click="closePastNoti()" class="btnClose"></a>
</div><!--/.panelHeader -->
<div class="messageBox visible-lg visible-md" data-ng-scrollbar data-rebuild-on="rebuild:pastNotifications" data-reload-on="reload:pastNotifications">
    <div class="messageWrapper">
        <div data-ng-repeat="item in notificationService.pastNotifications | limitTo: showLimit() track by $index " class="mItem {{item.type}}">
            <p class="topRow" data-ng-bind-html="item.message"></p>
            <p class="bottomRow">{{item.date}}</p>
        </div>
    </div>
</div><!--/.messageBox-->
<div class="messageBox default visible-sm visible-xs">
    <div class="messageWrapper">
        <div data-ng-repeat="item in notificationService.pastNotifications | limitTo: showLimit() track by $index " class="mItem {{item.type}}">
            <p class="topRow" data-ng-bind-html="item.message"></p>
            <p class="bottomRow">{{item.date}}</p>
        </div>
    </div>
</div><!--/.messageBox-->
<!-- fixed at the bottom -->
<a class="viewMore" data-ng-click="viewMore()">View {{notificationService.pastNotifications.length-showLimit()}} More</a>
