<!-- content start -->
<div class="container-fluid inner">
	<div class="row-fluid dashboard">
		<div class="col-lg-12 text-left titleBar">
			<div class="col-lg-5 col-md-5">
				<h1 class="title">Competition Arena: Dashboard</h1>
			</div>
		</div><!--/.titleBar-->
		<div class="container row mainContent">
			<div class="col-lg-8 col-lg-offset-0 col-md-12 col-sm-12 col-xs-12 leftBox">
				<div data-activecontests></div>
			</div>
			<div class="col-lg-4 col-lg-offset-0 col-md-12 col-sm-12 col-xs-12 rightBox">
				<div data-contest-plan></div>
			</div>
			<div class="col-lg-8 col-lg-offset-0 col-md-12 col-sm-12 col-xs-12 leftBox placeholder">
				<div data-chatarea></div>
			</div>
			<div class="col-lg-4 col-lg-offset-0 col-md-12 col-sm-12 col-xs-12 rightBox placeholder">
				<div data-overview></div>
			</div>
		</div><!--/.mainContent-->
	</div><!--/.dashboard -->
</div>
<!-- content end -->
