<div class="modal-header chatWidget-modal-header coder-history-modal-header">
    {{title}}
    <span class="cancel-x" data-ng-click="ok()">X</span>
</div>
<div class="modal-body chatWidget-modal-body coder-history-height" style="padding: 0px" data-ng-custom-scrollbar data-rebuild-on-resize data-rebuild-on="rebuild:coderHistory">
    <div class="coderHistoryTblDiv">
        <table class="table table-condesed coderHistoryTable">
            <thead>
                <tr>
                    <th class="coderHistoryColTime">Date/Time</th>
                    <th class="coderHistoryColAction">Action</th>
                    <th class="coderHistoryColRating">R</th>
                    <th class="coderHistoryColHandle">Handle</th>
                    <th class="coderHistoryColScore coderHistoryColProblemPoint" data-ng-class="{'sort':isSortByProblemPoint(), 'sort desc':!isSortByProblemPoint()}" data-ng-click="sortByProblemPoint()">Problem</th>
                    <th class="coderHistoryColScore">Score</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="history in coderHistoryData | orderBy:orderField" data-ng-click="openDetailModal({'title':'Coder History Info', 'detail': history.detail})">
                    <td class="coderHistoryColTime coder-history-td">{{history.time}}</td>
                    <td class="coderHistoryColAction coder-history-td">{{history.actionDescription}}</td>
                    <td class="coderHistoryColRating coder-history-td"><span data-rating-indicator="{{history.userRating}}" data-username="{{history.userName}}" class="ratingIcon"></span></td>
                    <td class="coderHistoryColHandle coder-history-td"><span class="user {{getRatingClass(history.userRating)}}">{{history.userName}}</span></td>
                    <td class="coderHistoryColScore coder-history-td">{{history.componentValue}}</td>
                    <td class="coderHistoryColScore coder-history-td {{ (history.points >= 0) ? 'coder-history-td-green' : 'coder-history-td-red'}} {{(history.points <= 0) ? 'coder-history-td-italic' : ''}}">{{history.points | number:2}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer textAlign">
    <button class="btn chatWidget-modal-button textAlign" data-ng-click="ok()">Close</button>
</div>
