<div class="panel panelContestPlan">
    <div class="panel-heading">Contest Plan
        <ul class="iconsWrapper">
            <li class="listItem" data-ng-click="getCurrentMonth()">
                <input type="radio" name="viewSelect" data-ng-model="viewNow" value="list" id="viewSelectList" class="viewRadio" />
                <label for="viewSelectList" class="viewLbl listLbl"></label>
            </li><!-- avoid unnecessary white space
            --><li class="calendarItem" data-ng-click="renderCalendar()">
                <input type="radio" name="viewSelect" data-ng-model="viewNow" value="calendar" id="viewSelectCalendar" class="viewRadio" />
                <label for="viewSelectCalendar" class="viewLbl calendarLbl"></label>
            </li>
        </ul>
    </div><!--/.panel-heading-->
    <div class="panel-body">
        <div class="calendarView">
            <div data-ui-calendar="uiConfig.calendar" data-ng-model="eventSources" data-calendar="contestPlan" class="calendar" data-ng-show="viewNow==='calendar'" id="calendar"></div><!--/.calendar-->
        </div>
        <div class="listView" data-ng-show="viewNow==='list'">
            <div class="listHeader">
                <h2>{{showMonth() | date: 'MMMM yyyy'}}</h2>
                <div class="nav">
                    <button class="btnCtrl btnPrev" data-ng-click="calendarPrev()">prev</button><!-- avoid unnecessary white space
                    --><button class="btnCtrl btnNext" data-ng-click="calendarNext()">Next</button>
                </div>
            </div><!-- /.listHeader -->
            <div class="eventsContent scrollList visible-lg visible-md" data-ng-custom-scrollbar data-scroll-top data-rebuild-on="rebuild:list">
                <div class="tableDiv">
                    <table class="table">
                        <tbody>
                            <tr data-ng-repeat="event in listEvents track by $index">
                                <td>{{event.title}}</td>
                                <td>{{event.start | date: 'MMM dd, yyyy'}}</td>
                            </tr>
                            <tr data-ng-hide="listEvents.length">
                                <td>No Event</td>
                                <td>&nbsp;</td>
                            </tr>
                           <!--  <tr data-ng-repeat="event in eventsAfterFilter = (events | showByMonth: currentDate)">
                                <td>{{event.title}}</td>
                                <td>{{event.start | date: 'MMM dd, yyyy'}}</td>
                            </tr>
                            <tr data-ng-hide="eventsAfterFilter.length">
                                <td>No Event</td>
                                <td>&nbsp;</td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div><!-- /.eventsContent -->
            <div class="eventsContent default visible-sm visible-xs">
                <div class="tableDiv">
                    <table class="table">
                        <tbody>
                            <tr data-ng-repeat="event in eventsAfterFilter = (events | showByMonth: currentDate)">
                                <td>{{event.title}}</td>
                                <td>{{event.start | date: 'MMM dd, yyyy'}}</td>
                            </tr>
                            <tr data-ng-hide="eventsAfterFilter.length">
                                <td>No Event</td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>