<div class="panel panel-custom">
	<div class="panel-heading">
        Active Contests
    </div>
    <div class="panel-body" data-ng-show="getContests().length > 0">
        <div data-ng-repeat="contest in getContests() track by $index" data-ng-show="$index == currentContest" class="mainContent">
            <p class="infoRow">
<!--                <span >Single Round Match</span> -->
                <span class="textWhite">{{ contest.contestName }}</span>
                <span class="textRed" data-ng-show="contest.roundType == 2">{{ contest.roundName }}</span>
                <span data-ng-show="isCountingDown(contest)">will start in</span>
                <span class="textRed" data-ng-show="isCountingDown(contest)">{{ displayCountDown(contest) }}</span>
            </p>
            <!-- /.infoRow -->
            <div class="tabs">
                <ul class="nav nav-tabs hidden-xs">
                    <li data-ng-class="{'textActive': contest.detailIndex == 0}" data-ng-click="setDetailIndex(contest, 0)">Contest Summary</li>
                    <li data-ng-class="{'textActive': contest.detailIndex == 1}" data-ng-click="setDetailIndex(contest, 1)">Contest Schedule</li>
                    <li data-ng-class="{'textActive': contest.detailIndex == 2}" data-ng-click="setDetailIndex(contest, 2)" data-ng-show="!isRegistrantOpen(contest)">My Status</li>
                </ul>
                <!-- button and label will show when window is very narrow -->
                <ul class="nav altNav visible-xs">
                    <li class="dropdown">
                        <a class="dropdown-toggle">
                            {{ getTabName(contest.detailIndex) }}<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li data-ng-class="{'textActive': contest.detailIndex == 0}" data-ng-click="setDetailIndex(contest, 0);">Contest Summary</li>
                            <li data-ng-class="{'textActive': contest.detailIndex == 1}" data-ng-click="setDetailIndex(contest, 1);">Contest Schedule</li>
                            <li data-ng-class="{'textActive': contest.detailIndex == 2}" data-ng-click="setDetailIndex(contest, 2);" data-ng-show="!isRegistrantOpen(contest)">My Status</li>
                        </ul>
                    </li>
                </ul>
                <!-- button to 'Register' and 'Enter' a contest -->
                <a data-ng-click="doAction(contest)" data-ng-show="isShown(contest)" data-ng-disabled="okDisabled" class="btn">{{ getAction(contest) }}</a>
            </div>
            <div  data-ng-show="contest.detailIndex == 0" class="summaryPanel">
                <div data-ng-bind-html="contest.summary" class="summaries textWhite"></div>
            </div>
            <!-- /.summaryPanel -->
            <div data-ng-show="contest.detailIndex == 1" class="schedulePanel">
                <div data-ng-repeat="phase in contest.phases"
                data-ng-init="time0=getPhaseTime(phase, 0); time1=getPhaseTime(phase, 1);">
                    <span class="title textWhite">{{ phase.title }}</span>
                    <br class="visible-xs breakline"/>
                    <span class="startIn"><span class="hidden-xs">:&nbsp;</span>{{ time0.key }}<span data-ng-show="time0.key.length>0"> in</span></span>
                    <span class="startTime">{{ time0.value }}</span>
                    <br class="visible-xs breakline"/>
                    <span class="endIn">{{ time1.key }}<span data-ng-show="time1.key.length>0"> in</span></span>
                    <span class="endTime">{{ time1.value }}</span>
                </div>
            </div>
            <!-- /.schedulePanel -->
            <div data-ng-show="contest.detailIndex == 2" class="statusPanel">
                <div class="leftSide">
                    <div data-ng-repeat="pair in contest.myStatus.info">
                        <span class="title textWhite">{{ pair.key }}</span>
                        <span>:&nbsp;{{ pair.value }}</span>
                    </div>
                </div>
                <br class="visible-xs breakline"/>
                <div class="rightSide">
                    <div data-ng-repeat="phase in contest.myStatus.phases">
                        <span class="title textWhite">{{ phase.title }}</span>
                        <span><span class="hidden-xs">:&nbsp;</span><span data-ng-show="phase.status == 'Complete'">{{ phase.end }}&nbsp;</span>{{ phase.status }}</span>
                    </div>
                </div>
            </div>
            <!-- /.statusPanel -->
        </div>
        <!-- /.mainContent -->
        <div class="paginator" data-ng-show="getContests().length > 1">
            <span data-ng-repeat="n in range(getContests().length) track by $index" data-ng-class="{'textActive': $index == currentContest}" data-ng-click="setCurrentContest($index)">{{$index+1}}</span>
        </div>
        <!-- /.paginator -->
    </div>
    <!-- /.panel-body -->
</div>
<script type="text/ng-template" id="popupModal.html">
    <div class="modal-header">
        {{ title }}
        <span class="cancel-x" data-ng-click="cancel()">X</span>
    </div>
    <div class="modal-body">
        <p ng-bind-html="message"></p>
    </div>
    <div class="modal-footer">
        <button class="btn right-btn" data-ng-click="ok()" data-ng-show="buttons.length == 2">{{ buttons[0] }}</button>
        <button class="btn left-btn" data-ng-click="cancel()" data-ng-show="buttons.length == 2">{{ buttons[1] }}</button>
        <button class="btn right-btn" data-ng-click="cancel()" data-ng-show="buttons.length == 1">{{ buttons[0] }}</button>
    </div>
</script>
