<div class="panel panelCountDown">
    <div class="panel-body">
        <div data-ng-show="contest.phaseData">
            <p data-ng-class="{singleLine: !showTimer(contest)}"><!--avoid unnecessary blank
             --><span>{{ getPhaseMessage(contest) }}<span data-ng-show="contest.phaseData.phaseType === 8" class="textRed" ng-bind="contest.systestProgress ? contest.systestProgress : 'N/A'"></span></span><!--avoid unnecessary blank
             --></p>
            <p class="textRed" data-ng-show="showTimer(contest)"><!--avoid unnecessary blank
             --><span data-timer data-autostart="false" data-interval="1000" data-countdown="countdown"><!-- use angular-timer. HACK here: we have to set the attribute 'countdown' with a positive value to indicate we are ticking down!
                 --><span data-ng-show="days > 0">{{days}} day{{daysS}} </span><!--avoid unnecessary blank
                 --><span data-ng-show="days > 0 || hours > 0">{{hours}} hour{{hoursS}} </span><!--avoid unnecessary blank
                 --><span data-ng-show="days > 0 || hours > 0 || minutes > 0">{{minutes}} minute{{minutesS}} </span><!--avoid unnecessary blank
                 --><span>{{seconds}} second{{secondsS}} </span>
                </span><!--avoid unnecessary blank
            --></p>
        </div>
    </div>
</div>
