<div id="contestTermsConfig" class="contestManagementPanel contestTermsConfigPanel detailPage">
    <div class="content">
        <div class="panel panel-custom">
            <div class="panel-heading">
                Set Terms
                <a class="close" data-ng-click="closeContestTermsConfig()"></a>
            </div>
            <div class="panel-body">
                <div class="termContent">
                    <textarea name="roundTerms" data-ng-model="roundTerms"><!-- avoid unexpected spaces
                  --></textarea>
                </div>
            </div>
            <div class="panel-footer">
                <div class="btnRow">
                    <a data-ng-click="closeContestTermsConfig()" class="btn btnCancel btnLeft">Cancel</a>
                    <a data-ng-click="submitContestTermsConfig()" class="btn btnSubmit btnRight">Submit</a>
                </div>
            </div>
        </div>
    </div>
</div>