<div class="panel panel-default col-lg-8">
    <div class="panel-heading"><h3>Privacy Settings</h3></div>
    <div class="panel-body">
        <table class="table table-striped">
            <tr>
                <td>Comments on your photo albums</td>
                <td><input type="checkbox" checked/></td>
            </tr>
            <tr>
                <td>Comments on your notes</td>
                <td><input type="checkbox" checked/></td>
            </tr>
            <tr>
                <td>Comments on your links</td>
                <td><input type="checkbox" checked/></td>
            </tr>
            <tr>
                <td>Event cancellations</td>
                <td><input type="checkbox" checked/></td>
            </tr>
            <tr>
                <td>Comments after you on a photo</td>
                <td>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Select option <span
                                                                                                                                     class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Amounts</a></li>
                                <li><a href="#">Interest Rate</a></li>
                                <li><a href="#">Strategy Used</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
