<div class="container-fluid inner">
    <div class="row-fluid dashboard contest detailPage matchScheduleTitle">
        <div class="col-lg-12 text-left titleBar">
            <div class="col-lg-6 col-md-7">
                <h1 class="title">Match Schedule</h1>
            </div>
        </div>
        <div class="container-fluid row-fluid mainContent paddingTop">
            <div class="preloader-window" data-preloader data-num-requests='{{numScheduleRequests}}' text='Loading Schedule...'></div>
            <div data-ui-calendar="matchScheduleConfig.calendar" data-ng-model="eventSources" data-calendar="matchSchedule" class="matchSchedule" id="matchSchedule"></div><!--/.calendar-->
        </div>
    </div>
</div>