<div class="panel panel-custom panelCodeEditor"> <!-- content start -->
    <div class="panel-heading">
        Coding Area<a data-ng-click="collapseOther('bottom-content')" class="collapseIcon" data-ng-class="{expand:getBottomStatus()=='expand',normal:getBottomStatus()=='normal'}"></a>
    </div>
    <div class="panel-body row" id="bottom-content">
        <div class="toolBar">
            <div data-ng-class="{active:settingsOpen,inactive:!settingsOpen}">
                <a class="settingsToggle" data-ng-click="toggleSettings()">settings</a>
                <div class="settingsPanel" data-ng-show="settingsOpen">
                    <a data-ng-click="toggleSettings()" class="closeIcon"></a>
                    <div class="editorRow">
                        <label class="textWhite">Editor</label>
                        <ul class="editorDropDown settingDropDown"><li class="dropdown"><a class="dropdown-toggle">{{getThemeName(themeIdx)}}</a><!-- 
                         --><ul class="dropdown-menu">
                                <li data-ng-repeat="t in themes track by $index"><a data-ng-click="setThemeIdx($index)" data-ng-class="{current: $index === themeIdx}">{{t.name}}</a></li>
                            </ul></li><!-- 
                     --></ul>
                    </div>
                    <div class="languageRow">
                        <label>Language</label>
                        <ul class="languageDropDown settingDropDown"><!-- 
                         --><li class="dropdown"><!-- 
                             --><a class="dropdown-toggle">{{getLangName(langIdx)}}</a><!--
                             --><ul class="dropdown-menu"><!-- 
                                 --><li data-ng-repeat="l in languages track by $index"><a data-ng-click="setLangIdx($index)" data-ng-class="{current: $index === langIdx}">{{l.name}}</a></li><!--
                             --></ul><!-- 
                         --></li>
                        </ul>
                    </div>
                    <div class="lineNumberRow">
                        <label>Line Number</label>
                        <div><input type="radio" name="lineNumber" data-ng-value="true" id="showLineNumber" class="lineNumRadio" data-ng-model="showLineNumber" /><label for="showLineNumber" class="lineNumLbl">Show</label></div><!--
                        --><div><input type="radio" name="lineNumber" data-ng-value="false" id="hideLineNumber" class="lineNumRadio" data-ng-model="showLineNumber" /><label for="hideLineNumber" class="lineNumLbl">Hide</label></div>
                    </div>
                    <div class="btnWrapper">
                        <a data-ng-click="settingChanged()" class="btn btn-settings">OK</a>
                    </div>
                </div>
            </div>
            <div class="middlePart">
                <ul class="actionIcons"><!-- avoid unnecessary blank
                --><li class="link saveLink">Save</li><!--  avoid unnecessary blank
                --><li class="link clearLink" data-ng-click="clearEditor()">Clear</li><!--  avoid unnecessary blank
                --><li class="link compileLink" data-ng-click="compileSolution()">Compile</li><!--
                --><li class="link submitLink" data-ng-click="submitSolution()">Submit</li>
                </ul><!--  avoid unnecessary blank
                --><div class="findInput"><input type="text" name="find" placeholder="Find"/><a data-ng-click="" class="searchIcon"></a></div><!--  avoid unnecessary blank
                --><div class="gotoInput"><label for="goto">Go To</label><input type="text" name="goto" id="goto" value="" /><a class="arrow"></a></div>
            </div>
            <div class="rightPart">
                <div><input type="checkbox" name="autoCompile" id="compileCheck" class="editorCheckbox" data-ng-model="autoCompile" /><label for="compileCheck" class="editorCheckLbl">Auto Compile</label></div><!-- avoid unnecessary blank
                --><div><input type="checkbox" name="autoSave" id="saveCheck" class="editorCheckbox" data-ng-model="autoSave" /><label for="saveCheck" class="editorCheckLbl">Auto Save</label></div><!--  avoid unnecessary blank
                --><div data-ng-class="{active:testOpen,inactive:!testOpen}"><a class="testToggle" data-ng-click="toggleTest()">Test Panel</a>
                    <div class="testPanel" data-ng-show="testOpen">
                        <div>
                            <div class='testCase' data-ng-repeat="testCase in userData.tests track by $index" data-ng-init="caseNum=$index; toggle=true">
                                <header><!-- avoid unnecessary blank
                                 --><input type="checkbox" id="testCase-{{caseNum}}" name="testCase-{{caseNum}}" class="caseCheck" ng-disabled="isTesting" data-ng-model="testCase.checked" data-ng-click="testCase.checked=!testCase.checked" /><!-- avoid unnecessary blank
                                 --><a data-ng-click="toggle=!toggle" data-ng-class="{open:toggle,collapsed:!toggle}"></a><!-- avoid unnecessary blank
                                 --><label for="testCase-{{caseNum}}" class="caseLbl">Example {{caseNum + 1}}</label><!--
                                 --><span data-ng-show="testCompleted && testCase.havingResult" data-ng-class="{green: testCase.passed, red: !testCase.passed}"></span>
                                </header>
                                <div class="content" data-ng-show="toggle">
                                    <div class="testParam" data-ng-repeat="param in testCase.params track by $index" data-ng-init="paramNum=$index; editting=false">
                                        <div data-ng-hide="editting"><label for="param-{{caseNum}}-{{paramNum}}">{{problem.allArgTypes[paramNum].typeMapping[lang(langIdx).id]}} {{problem.paramNames[paramNum]}}</label>
                                        <input type="text" id="param-{{caseNum}}-{{paramNum}}" name="param-{{caseNum}}-{{paramNum}}" data-ng-model="param.value" data-ng-show="!param.complexType" /></div>
                                        <a data-ng-show="!!param.complexType && param.complexType.length > 0" data-ng-click="editting=true; editParam($caseNum, $paramNum)" class="btn">
                                            <span data-ng-show="!param.created">Create</span>
                                            <span data-ng-show="param.created">Modify</span>
                                        </a>
                                        <div class="editParam" data-ng-show="editting">
                                            <label>{{param.type}}  -- {{param.complexType}}</label>
                                            <textarea>{{param.value}}</textarea>
                                            <a data-ng-click="param.created=true; editting=false" class="btn btnAlt">OK</a>
                                            <a data-ng-click="param.created=false; editting=false" class="btn btnAlt">Cancel</a>
                                        </div>                                    
                                    </div>
                                </div>
                            </div> 
                            <div class="bottom">
                                <input type="checkbox" id="testCase-all" class="caseCheck" ng-disabled="true" data-ng-click="selectAll($event)" data-ng-checked="isSelectedAll()" /><label for="testCase-all" class="caseLbl">Check All</label>
                                <label data-ng-show="testCompleted && !isTesting" class="message">Test is completed.</label>
                                <a data-ng-click="runTests()" data-ng-show="!isTesting" class="btn">{{ testCompleted ? "Re-Run" : "Run Test" }}</a>
                                <img data-ng-show="isTesting" alt="busy..." src="img/loadinfo.net.gif" data-ng-src="img{{isLight}}/loadinfo.net.gif"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
        <div data-ng-class="{showLineNumberPadding:showLineNumber,hideLineNumberPadding:!showLineNumber}" class="paddingRow"></div>
        <textarea id="codeArea" name="codeArea" data-ui-codemirror="cmOption" data-ng-model="code"></textarea>
        <script id="script"></script>
        <div class="errorBar">
            <div data-ng-repeat="i in range(lineNumbers) track by $index" data-ng-class="{error:getErrorMessage($index).length > 0}">
                <a data-ng-show="getErrorMessage($index).length > 0" data-tooltip="{{getErrorMessage($index)}}" data-tooltip-placement="left" data-tooltip-popup-delay='500'></a>
            </div>
        </div><!-- /.errorBar -->
    </div>
</div> <!-- content end -->
<script type="text/ng-template" id="popupModal.html">
    <div class="modal-header">
        {{ title }}
        <span class="cancel-x" data-ng-click="cancel()" ng-if="enableClose">X</span>
    </div>
    <div class="modal-body">
        <p ng-bind-html="message"></p>
    </div>
    <div class="modal-footer" ng-if="enableClose">
        <button class="btn right-btn" data-ng-click="ok()" data-ng-show="buttons.length == 2">{{ buttons[0] }}</button>
        <button class="btn left-btn" data-ng-click="cancel()" data-ng-show="buttons.length == 2">{{ buttons[1] }}</button>
        <button class="btn right-btn" data-ng-click="cancel()" data-ng-show="buttons.length == 1">{{ buttons[0] }}</button>
    </div>
</script>