<div class="panel panel-custom panelCodeEditor"> <!-- content start -->
    <div class="preloader-window system-test-preloader-window" data-preloader data-num-requests='{{numContestRequests}}' text='Processing System Tests...'></div>
    <div class="panel-heading toolBar">
        Coding Area <div class="middlePart">
                <ul class="actionIcons"><!-- avoid unnecessary blank
                --><li class="link saveLink disableLink"  data-ng-hide="currentStateName()==='user.viewCode' || !isConnected() || !isSaving">Saving</li>  <!-- avoid unnecessary blank
                --><li class="link saveLink"  data-ng-hide="currentStateName()==='user.viewCode' || !isConnected() || isSaving" data-ng-class="{disableLink : !contentDirty}" data-ng-click="saveCode()">Save</li>  <!-- avoid unnecessary blank
                --><li class="link clearLink" data-ng-class="{disableLink : disableSubmit()}" data-ng-click="clearEditor()" data-ng-hide="currentStateName()==='user.viewCode' || !isConnected()">Clear</li><!--  avoid unnecessary blank
                --><li class="link compileLink" data-ng-click="compileSolution()" data-ng-hide="currentStateName()==='user.viewCode' || !isConnected()">Compile</li><!--
                --><li class="link submitLink" data-ng-class="{disableLink : disableSubmit()}" data-ng-click="submitSolution()" data-ng-hide="currentStateName()==='user.viewCode' || !isConnected()">Submit</li>
                   <li class="link refreshSystemTestLink" data-ng-class="{disableLink : !submittedCode}" data-ng-click="runPracticeSystemTest()" data-ng-hide="!isShowRunPracticeSystemTest() || !isConnected()">Run System Tests</li>
                </ul><!--  avoid unnecessary blank
                --><div data-ng-show="currentStateName()==='user.viewCode'">{{languages[langIdx].name}}</div><!--
                --><div class="findInput" data-ng-hide="currentStateName()==='user.viewCode' && !isChallengePhase()"><input type="text" name="find" data-ng-model="searchText" data-ng-change="searchByText()"/><a id="searchByText" data-ng-click="findNextOccurence()" class="searchIcon"></a></div><!--  avoid unnecessary blank
                --><div class="gotoInput" data-ng-hide="currentStateName()==='user.viewCode' && !isChallengePhase()"><label for="goto">Go To</label><input type="text" name="goto" id="goto" data-ng-model="gotoLine" data-ng-keypress="inputGotoText($event)"/></div>
            </div><a data-ng-click="problemAreaHeightRatio = (problemAreaHeightRatio == 0 ? 1 : 0)" class="collapseIcon" data-ng-class="{expand:problemAreaHeightRatio == 0,normal:problemAreaHeightRatio > 0}"></a>
    </div>
    <div class="panel-body row" id="bottom-content">
        <div class="toolBar">
            <div data-ng-class="{active:settingsOpen,inactive:!settingsOpen}">
                <a class="settingsToggle" data-ng-click="toggleSettings()" data-ng-hide="currentStateName()==='user.viewCode'">settings</a>
                <div class="settingsPanel" data-ng-show="settingsOpen && (currentStateName()=='user.coding' || currentStateName()==='user.practiceCode')">
                    <a data-ng-click="toggleSettings()" class="closeIcon"></a>
                    <div class="editorRow">
                        <label class="textWhite">Editor</label>
                        <ul class="editorDropDown settingDropDown"><li class="dropdown"><a class="dropdown-toggle disabled">{{getThemeName(themeIdx)}}</a><!--
                         --><ul class="dropdown-menu">
                                <li data-ng-repeat="t in themes track by $index"><a data-ng-click="setThemeIdx($index)" data-ng-class="{current: $index === themeIdx}">{{t.name}}</a></li>
                            </ul></li><!--
                     --></ul>
                    </div>
                    <div class="languageRow">
                        <label>Language</label>
                        <ul class="languageDropDown settingDropDown"><!--
                         --><li class="dropdown"><!--
                             --><a class="dropdown-toggle">{{getLangName(langIdx)}}</a><!--
                             --><ul class="dropdown-menu"><!--
                                 --><li data-ng-repeat="l in languages track by $index"><a dropdown-toggle data-ng-click="setLangIdx($index)" data-ng-class="{current: $index === langIdx}">{{l.name}}</a></li><!--
                             --></ul><!--
                         --></li>
                        </ul>
                    </div>
                    <div class="lineNumberRow">
                        <label>Line Number</label>
                        <div><input type="radio" name="lineNumber" data-ng-value="true" id="showLineNumber" class="lineNumRadio" data-ng-model="showLineNumber" /><label for="showLineNumber" class="lineNumLbl">Show</label></div><!--
                        --><div><input type="radio" name="lineNumber" data-ng-value="false" id="hideLineNumber" class="lineNumRadio" data-ng-model="showLineNumber" /><label for="hideLineNumber" class="lineNumLbl">Hide</label></div>
                    </div>
                    <div class="btnWrapper">
                        <a data-ng-click="saveSetting()" class="btn btn-settings">OK</a>
                    </div>
                </div>
            </div>
            <div class="middlePart">
                <ul class="statusIcons"><!-- avoid unnecessary blank
                --><li class="compiledStatus" data-ng-show="!!compiledTime">Compiled <span class="statusTime">[{{ compiledTime | date: 'MM/dd/yy - HH:mm:ss' }}]</span></li>  <!-- avoid unnecessary blank
                --><li class="submittedStatus" data-ng-show="!!submittedTime">Submitted <span class="statusTime">[{{ submittedTime | date: 'MM/dd/yy - HH:mm:ss' }}]</span></li>  <!-- avoid unnecessary blank
                --><li class="savedStatus" data-ng-show="!!savedTime">Saved <span class="statusTime">[{{ savedTime | date: 'MM/dd/yy - HH:mm:ss' }}]</span></li>  <!-- avoid unnecessary blank
            !--></ul>
            </div>
            <div class="rightPart">
                <div class="challenged" data-ng-if="currentStateName()=='user.viewCode' && isChallengePhase() && isCoderAssigned(username(), defendantRoomID) && isChallenged()">This problem has been successfully challenged. &nbsp;</div><div data-ng-show="(currentStateName()=='user.coding' || currentStateName()==='user.practiceCode' || isChallengePhase() && isCoderAssigned(username(), defendantRoomID) && isInSameRoom()) && !isChallenged()" data-ng-class="{active:testOpen,inactive:!testOpen}"><a class="testToggle" data-ng-click="toggleTest()">{{panelName}}</a>
                    <div class="testPanel" data-ng-show="testOpen" data-test-panel>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body row always-visible" id="editor-image" data-perfect-scrollbar data-rebuild-on-resize  data-ng-if="codeImage">
            <img data-ng-src="{{codeImage}}"/>
        </div>
        <div ui-ace="aceEditorOptions" data-ng-if="!codeImage" data-ng-model="code" class="code-editor-area" data-ng-class="{disableCursor:cm.options.readOnly}" ></div>
        <script id="script"></script>
        <div class="errorBar">
            <div data-ng-repeat="i in range(lineNumbers) track by $index" data-ng-class="{error:getErrorMessage($index).length > 0}">
                <a data-ng-show="getErrorMessage($index).length > 0" data-tooltip="{{getErrorMessage($index)}}" data-tooltip-placement="left" data-tooltip-popup-delay='500'></a>
            </div>
        </div><!-- /.errorBar -->
    </div>
    <div data-test-report class="testReportPanel hide" id="testReport"></div>
</div> <!-- content end -->
