<div class="container-fluid inner"><!-- content start -->
    <div class="row-fluid dashboard codeArea">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left titleBar" id="titleBar">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="definition"><!-- avoid unnecessary whitespace
                    --><span class="item">Class Name&nbsp;&nbsp;:&nbsp;<span class="textWhite">{{problem.className}}</span></span><!--
                    --><span class="item">Method Name&nbsp;:&nbsp;<span class="textWhite">{{problem.methodName}}</span></span><br class="visible-xs"/><!--
                    --><span class="item">Return Type&nbsp;:&nbsp;<span class="textWhite">{{problem.allReturnType.typeMapping[lang(langIdx).id]}}</span></span><!--
                    --><span class="item">Arg Types&nbsp;:&nbsp;<span class="textWhite" data-ng-if="problemLoaded">({{problem.argTypeText}})</span></span><!--
                --></div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 connection">
                <div>
                    <label data-ng-show="currentStateName()=='user.coding'">Coding&nbsp;</label>
                    <label data-ng-show="currentStateName()=='user.viewCode' && isChallengePhase()">Challenge&nbsp;</label>
                    <span class="textGreen" data-ng-show="noCountdown">
                        00:00:00
                    </span>
                    <span class="textGreen" data-timer data-autostart="false" data-interval="1000" data-countdown="countdown" data-ng-show="!noCountdown">
                        <span data-ng-show="days > 1">{{days}} days,&nbsp;</span>
                        <span data-ng-show="days === 1">{{days}} day,&nbsp;</span>
                        {{hhours}}:{{mminutes}}:{{sseconds}}
                    </span>
                </div>
                <div class="rate">Rate<a class="voteUp textGreen vote">+1</a><a class="voteDown textRed vote">-1</a></div>
            </div> 
            <div class="shareLink">
                <ul> <!-- link shows here -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-ng-click="showLinks=!showLinks">Share</a>
                        <ul class="dropdown-menu socialLinks">
                            <li><a data-ng-click="" class="btn btn-primary btn-lg btn-facebook">Facebook</a></li>
                            <li><a data-ng-click="" class="btn btn-primary btn-lg btn-twitter">Twitter</a></li>
                            <li><a data-ng-click="" class="btn btn-primary btn-lg btn-google">Google+</a></li>
                            <li><a data-ng-click="" class="btn btn-primary btn-lg btn-github">GitHub</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
            <a data-ng-click="goBack()" class="btn btnBack">Back to Contest</a>
        </div>
        <div class="container-fluid row-fluid mainContent">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 centerBox">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-codingproblem></div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="resizer" data-resizer data-resizer-height="0" data-resizer-top="#top-content" data-resizer-bottom="#bottom-content" data-resizer-code-mirror="#codeArea" data-resizer-title-bar="#titleBar" data-resizer-max="400"><span></span></div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-codingeditor></div>
            </div>
        </div>
    </div>
</div>
<!-- content end -->
