<div class="panel panel-custom panelOverview"><!-- content start -->
    <section class="overviewAndMessage">
        <div class="panel-heading" data-ng-class="{active:showSection==='overview',inactive:showSection!=='overview'}">
            <input type="radio" data-ng-model="showSection" value="overview" id="radioOverview" class="showSectionRadio"/><label for="radioOverview" class="showSectionLbl">Profile Overview & Important Messages</label>
        </div>
        <div class="panel-body">
            <div class="contentWrapper" data-ng-show="showSection==='overview'">
                <div class="profile">
                    <img data-ng-src="{{userProfile.avatar}}" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="{{userProfile.handle}}"/>
                    <p class="userNameRow"><span class="{{getRatingClass(userProfile.rating)}}">{{userProfile.handle}}</span></p>
                    <p class="ratingRow" data-ng-show="userProfile.rating>0">
                        <label>Rating</label>:<span data-rating-indicator="{{userProfile.rating}}" data-username="{{userProfile.handle}}overview" class="ratingIcon"></span><span class="{{getRatingClass(userProfile.rating)}}">{{userProfile.rating}}</span>
                    </p>
                    <p class="ratingRow" data-ng-show="userProfile.rating<=0">
                        <label>Rating</label>:&nbsp;<span>Not Rated</span>
                    </p>
                    <p class="competeRow">
                        <label>Competed in</label>:&nbsp;<span>{{userProfile.numRatedEvents}} event<span data-ng-hide="userProfile.numRatedEvents===1">s</span></span>
                    </p>
                    <p class="lastLoginRow">
                        <label>Last Login</label>:&nbsp;<span>{{userProfile.lastLogin| date:'yyyy-MM-dd h:mm a'}} {{ timeZone }}</span>
                    </p>
                </div><!--/.profile-->
                <div class="messagesBox">
                    <table class="table">
                        <tbody>
                            <tr data-ng-repeat="message in userProfile.messages">
                                <td class="date">{{message.date}}</td>
                                <td class="message">{{message.content}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--/.contentWrapper-->
        </div><!--/.panel-body-->
    </section><!--/.overviewAndMessage-->
    <section class="trainingArea">
        <div class="panel-heading" data-ng-class="{active:showSection==='training',inactive:showSection!=='training'}">
            <input type="radio" data-ng-model="showSection" value="training" id="radioTraining" class="showSectionRadio"/><label for="radioTraining" class="showSectionLbl">Problem Based Training Area</label>
        </div>
        <div class="panel-body">
            <div class="contentWrapper" data-ng-show="showSection==='training'">
                <p>Coming Soon...</p>
            </div><!--/.contentWrapper-->
        </div><!--/.panel-body-->
    </section><!--/.trainingArea-->
    <section class="leaderboard" data-overviewleaderboard></section><!--/.leaderboard-->
    <section class="activeUsers" data-activeuser></section><!--/.activeUsers-->
</div> <!-- content end -->