<!-- content start -->
<div class="container-fluid inner">
    <div class="row-fluid dashboard contest">
        <div class="col-lg-12 text-left titleBar">
            <div class="col-lg-6 col-md-6">
                <h1 class="title">Competition Arena: {{ contest.contestName }} {{(!currentRoomInfo || !currentRoomInfo.name) ? '' : '-'}} {{currentRoomInfo.name}}</h1>
            </div>
            <div class="col-lg-6 col-md-6 connection">
            </div>
            <span class="shareLink">Share<a></a></span>
        </div>
        <div class="container row mainContent">
            <div class="col-lg-4 col-lg-push-8 col-md-12 col-sm-12 col-xs-12 rightBox">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-contestcountdown></div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-conteststats></div>
            </div>
            <div class="col-lg-8 col-lg-pull-4 col-md-12 col-sm-12 col-xs-12 leftBox">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-contest-summary>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 placeholder">
                    <div data-chatarea data-registrants="true"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content end -->
