<div class="panel panel-custom panelSummary">
    <div class="panel-heading">
        Summary
    </div>
    <div class="panel-body">
        <div class="mainContent">
            <div class="tabs">
                <ul class="nav nav-tabs hidden-xs">
                    <li data-ng-class="{'textActive': viewOn=='room'}" data-ng-click="setViewOn('room')">Room</li>
                    <li data-ng-show="isDivisionActive(contest, 'divOne')" data-ng-class="{'textActive': viewOn=='divOne'}" data-ng-click="setViewOn('divOne')">Division I</li>
                    <li data-ng-show="isDivisionActive(contest, 'divTwo')" data-ng-class="{'textActive': viewOn=='divTwo'}" data-ng-click="setViewOn('divTwo')">Division II</li>
                </ul>
                <!-- button and label will show when window is very narrow -->
                <ul class="nav altNav visible-xs">
                    <li class="dropdown">
                        <a class="dropdown-toggle">
                            {{ getViewOnTitle()}}<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li data-ng-class="{'textActive': viewOn=='room'}" data-ng-click="setViewOn('room')">Room</li>
                            <li data-ng-show="isDivisionActive(contest, 'divOne')" data-ng-class="{'textActive': viewOn=='divOne'}" data-ng-click="setViewOn('divOne')">Division I</li>
                            <li data-ng-show="isDivisionActive(contest, 'divTwo')" data-ng-class="{'textActive': viewOn=='divTwo'}" data-ng-click="setViewOn('divTwo')">Division II</li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.tabs-->
            <div class="summaryWrapper">
                <div data-ng-show="viewOn=='room'" class="roomDiv sumDiv">
                    <div class="scroll visible-lg visible-md" data-ng-scrollbar data-rebuild-on-resize><div class="innerWrapper">{{contest.roomSummary}}</div></div>
                    <div class="default visible-sm visible-xs"><div class="innerWrapper">{{contest.roomSummary}}</div></div>
                </div>
                <div data-ng-show="viewOn=='divOne'" class="divOneDiv sumDiv">
                    <div class="scroll visible-lg visible-md" data-ng-scrollbar data-rebuild-on-resize><div class="innerWrapper">{{contest.divOneSummary}}</div></div>
                    <div class="default visible-sm visible-xs"><div class="innerWrapper">{{contest.divOneSummary}}</div></div>
                </div>
                <div data-ng-show="viewOn=='divTwo'" data-ng-class="{divOneDiv: !isDivisionActive(contest, 'divOne'), divTwoDiv: isDivisionActive(contest, 'divOne')}" class="sumDiv">
                    <div class="scroll visible-lg visible-md" data-ng-scrollbar data-rebuild-on-resize><div class="innerWrapper">{{contest.divTwoSummary}}</div></div>
                    <div class="default visible-sm visible-xs"><div class="innerWrapper">{{contest.divTwoSummary}}</div></div>
                </div>
            </div>
            <a class="detailLink" data-ng-click="viewDetail(contest)">View Detail</a>
        </div><!-- /.mainContent -->
    </div>
    <!-- /.panel-body -->
</div>
