<div class="modal-header chatWidget-modal-header">
    <h3 class="modal-title">Coder Info</h3>
</div>
<div class="modal-body chatWidget-modal-body">
    <p>User name: </p> <span>{{coderInfo.username}}</span><br>
    <p>Rating (highest): </p> <span>{{coderInfo.rating}}</span><br>
    <p>Rated events: </p> <span>{{coderInfo.rated}}</span><br>
    <p>Member since: </p> <span>{{coderInfo.since}}</span><br>
    <p>Country: </p> <span>{{coderInfo.country}}</span><br>
    <p>Coder type: </p> <span>{{coderInfo.coderType}}</span><br>
    <p>School: </p> <span>{{coderInfo.school}}</span><br>
    <p>Quote: </p> <span>{{coderInfo.quote}}</span><br>
</div>
<div class="modal-footer chatWidget-modal-footer">
    <button class="btn chatWidget-modal-button" data-ng-click="ok()">OK</button>
</div>