<div class="modal-header">
    {{ title }}
    <span class="cancel-x" data-ng-click="cancel()" ng-if="enableClose">X</span>
</div>
<div class="modal-body registration-modal-body" data-ng-custom-scrollbar data-rebuild-on-resize data-rebuild-on="rebuild:userRegistration">
    <p class="title" data-ng-show="surveyMessage && surveyMessage !== ''">Important Notice</p>
    <div class="questionDiv" data-ng-show="surveyMessage && surveyMessage !== ''">
        <p class="questionText" ng-bind-html="surveyMessage"></p>
    </div>
    <p class="questionTitle" data-ng-show="eligibilityQuestions.length !== 0">Eligibility Requirements</p>

    <div data-ng-repeat="survey in eligibilityQuestions" class="surveyDiv">

        <p class="index">[{{$index + 1}}]</p>
        <div class="questionTextDiv">
            <p data-ng-bind="survey.questionText"></p>
        </div>

        <div data-ng-repeat="answer in survey.answerText" class="answerText">
            <label >
                <span data-ng-if="survey.questionType === 1">
                    <input  name="{{survey.questionID}}" type="radio" ng-model="survey.answer" value="{{answer}}" class="radio">{{answer}}
                </span>
                <span data-ng-if="survey.questionType === 2">
                    <input  name="{{survey.questionID}}" type="checkbox" ng-model="survey.answers[$index]" value="{{answer}}" class="radio">{{answer}}
                </span>
                <span data-ng-if="survey.questionType === 3">
                    <textarea name="{{survey.questionID}}" data-ng-model="survey.answer" class="longText" maxlength="250"></textarea>
                </span>
                <span data-ng-if="survey.questionType === 4">
                    <input type="text" name="{{survey.questionID}}" data-ng-model="survey.answer" class="shortText" maxlength="40">
                </span>
            </label>
            <br/>
        </div>
    </div>


    <p class="questionTitle" data-ng-show="generalQuestions.length !== 0">Survey Question(s)</p>
    <div data-ng-repeat="survey in generalQuestions" class="surveyDiv">
        <p class="index">[{{$index + 1}}]</p>
        <div class="questionTextDiv">
            <p data-ng-bind="survey.questionText"></p>
        </div>
        <div data-ng-repeat="answer in survey.answerText" class="answerText">
            <label >
                <span data-ng-if="survey.questionType === 1">
                    <input name="{{survey.questionID}}" type="radio" ng-model="survey.answer" value="{{answer}}" class="radio">{{answer}}
                </span>
                <span data-ng-if="survey.questionType === 2">
                    <input  name="{{survey.questionID}}" type="checkbox" ng-model="survey.answers[$index]" value="{{answer}}" class="radio">{{answer}}
                </span>
                <span data-ng-if="survey.questionType === 3">
                    <textarea name="{{survey.questionID}}" data-ng-model="survey.answer" class="longText" maxlength="250"></textarea>
                </span>
                <span data-ng-if="survey.questionType === 4">
                    <input type="text" name="{{survey.questionID}}" data-ng-model="survey.answer" class="shortText" maxlength="40">
                </span>
            </label>
            <br/>
        </div>
    </div>

    <div class="questionDiv bottomQuestionDiv" data-ng-show="message && message !== ''">
        <p class="questionText" ng-bind-html="message"></p>
    </div>

</div>
<div class="modal-footer" ng-if="enableClose">
    <button class="btn right-btn" data-ng-click="ok()" data-ng-show="buttons.length == 2">{{ buttons[0] }}</button>
    <button class="btn left-btn" data-ng-click="cancel()" data-ng-show="buttons.length == 2">{{ buttons[1] }}</button>
    <button class="btn right-btn" data-ng-click="cancel()" data-ng-show="buttons.length == 1">{{ buttons[0] }}</button>
</div>