<div class="container-fluid inner"><!-- content start -->
    <div class="row-fluid dashboard codeArea">
        <div class="row-fluid heading">
            <div class="col-xs-8 text-left titleBar" id="titleBar">
                <div class="definition"><!-- avoid unnecessary whitespace
                    --><span class="item">Class Name&nbsp;:&nbsp;<span class="textWhite textBlack">{{problem.className}}</span>&nbsp;</span><!--
                    --><span class="item">Method Name&nbsp;:&nbsp;<span class="textWhite textBlack">{{problem.methodName}}</span>&nbsp;</span><br class="visible-xs"/><!--
                    --><span class="item">Return Type&nbsp;:&nbsp;<span class="textWhite textBlack">{{problem.allReturnType.typeMapping[lang(langIdx).id]}}</span></span><!--
                    --><span class="item">Arg Types&nbsp;:&nbsp;<span class="textWhite textBlack" data-ng-if="problemLoaded">({{problem.argTypeText}})</span></span><!--
                --></div>

                <!--div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 connection">
                    <div class="rate">Rate<a class="voteUp textGreen vote">+1</a><a class="voteDown textRed vote">-1</a></div>
                </div-->
                <!--div class="shareLink">
                    <ul>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-ng-click="showLinks=!showLinks">Share</a>
                            <ul class="dropdown-menu socialLinks">
                                <li><a data-ng-click="" class="btn btn-primary btn-lg btn-facebook">Facebook</a></li>
                                <li><a data-ng-click="" class="btn btn-primary btn-lg btn-twitter">Twitter</a></li>
                                <li><a data-ng-click="" class="btn btn-primary btn-lg btn-google">Google+</a></li>
                                <li><a data-ng-click="" class="btn btn-primary btn-lg btn-github">GitHub</a></li>
                            </ul>
                        </li>
                    </ul>
                </div-->
            </div>
            <div class="col-xs-4 text-right code-area-controls">
                <a data-ng-show="currentStateName()==='user.practiceCode' && editorialLink!==''" class="matchEditorial" href="{{editorialLink}}" target="_blank">Match Editorial</a>
                <a data-ng-click="goBack()" class="btn btnBack" data-ng-hide="currentStateName()==='user.practiceCode'">Back to Match</a>
                <a class="btnSplitView" data-ng-click="problemAreaHeightRatio = 0.5" data-ng-class="{disabled:problemAreaHeightRatio == 0.5}"></a>
            </div>
        </div>
        <div class="container-fluid row-fluid mainContent">
            <div class="shortcut-keys-list shortcut-keys-list-color" data-ng-show="showShortcutKeysList"><div class="main-div">
                <span class="title">Keyboard Shortcuts</span>
                <span class="cancel" data-ng-click="closeShortcutList()">X</span>
                <table class="table">
                    <tr data-ng-show="isEditablePhase()"><td class="item left">Compile</td><td class="item item-color right"><span data-ng-show="isMac()">Cmd</span><span data-ng-hide="isMac()">Ctrl</span> + Alt + O</td></tr>
                    <tr data-ng-show="isEditablePhase()"><td class="item left">Run all test cases</td><td class="item item-color right"><span data-ng-show="isMac()">Cmd</span><span data-ng-hide="isMac()">Ctrl</span> + Alt + R</td></tr>
                    <tr data-ng-show="isEditablePhase()"><td class="item left">Run test case number x</td><td class="item item-color right"><div><span data-ng-show="isMac()">Cmd</span><span data-ng-hide="isMac()">Ctrl</span> + Alt + X</div><span class="notes">(X is a number between 1 and 9 of the number of the test case)</span></td></tr>
                    <tr><td class="item left">Jump to search box</td><td class="item item-color right"><span data-ng-show="isMac()">Cmd</span><span data-ng-hide="isMac()">Ctrl</span> + Alt + E</td></tr>
                    <tr><td class="item left">Jump to goto box</td><td class="item item-color right"><span data-ng-show="isMac()">Cmd</span><span data-ng-hide="isMac()">Ctrl</span> + Alt + G</td></tr>
                    <tr><td class="item left">Maximize code area</td><td class="item item-color right"><span data-ng-show="isMac()">Cmd</span><span data-ng-hide="isMac()">Ctrl</span> + Alt + Y</td></tr>
                    <tr><td class="item left">Maximize problem statement area</td><td class="item item-color right"><span data-ng-show="isMac()">Cmd</span><span data-ng-hide="isMac()">Ctrl</span> + Alt + T</td></tr>
                    <tr data-ng-hide="isPracticeCodeRoom()"><td class="item left">Toggle chat minimized / expanded</td><td class="item item-color right"><span data-ng-show="isMac()">Cmd</span><span data-ng-hide="isMac()">Ctrl</span> + Alt + A</td></tr>
                    <tr data-ng-hide="isPracticeCodeRoom()"><td class="item left bottom-item">Toggle leaderboard minimized / expanded</td><td class="item item-color bottom-item right"><span data-ng-show="isMac()">Cmd</span><span data-ng-hide="isMac()">Ctrl</span> + Alt + L</td></tr>
                </table>
            </div></div>
            <div id="problem-statement" data-codingproblem data-ng-style="getFlexProperties(problemAreaHeightRatio)"></div>
            <div id="resizer" data-resizer="problemAreaHeightRatio"><span></span></div>
            <div id="code-editor" data-codingeditor data-ng-style="getFlexProperties(1-problemAreaHeightRatio)"></div>

        </div>
        <div class="docker" data-ng-hide="$state.includes('user.practiceCode')">
            <div data-chatarea data-chatarea-coding class="chatWidget chatArea chatArea-{{windowStatus.chatArea}}" id="chatWidget"></div><!-- avoid whitespace
            --><div data-leaderboard class="leaderboardWidget leaderboard leaderboard-{{windowStatus.leaderboard}}" id="leaderboardWidget"></div>
        </div>
    </div>
</div>
<!-- content end -->
